@model AllSports.Models.TeamModels.TeamDetail

@{
    ViewBag.Title = "Details";
}

<style>
    div.col-md-2#image {
        margin-left: 0;
        margin-top: 0;
    }
</style>

<h2>Team Info</h2>


<h4>@Html.DisplayFor(model => model.TeamName) </h4>

<div id="image">

    @if (Model.Contents != null)
    {
        var base64 = Convert.ToBase64String(Model.Contents); var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src=@imgSrc , class="Postimg" , alt="Team Logo" , height="200px" , width="225px" />
    }
    else
    {
        <img src="" class="img-fluid" alt="Team Logo" />
    }
</div>
<hr />
<div>
    <div class="col--lg-12">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Wins)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Wins)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Losses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Losses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LeagueName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LeagueName)
            </dd>

        </dl>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
